[path]
main = C:\Users\kurosiko\Desktop\VideoFethcer-v2

[dl_options]
meta = False
thumbnail = False
notification = True
dl_folder = True
uploader_folder = True
playlist_folder = True

[app_options]

[codec]
audio_codec = Auto
video_codec = mp4
resolution = Auto

[dl_channel]
url = ['chanel URL 1', 'chanel URL 2']

