#back{
    flex: 1;
    border: 0px;
    background-color: #2f2f2f;
    color: #fff;
    transition: background-color .2s;
}
#back:hover{
    color: #fff;
    background-color: #4f4f4f;
}
.header{
    color: #fff;
    text-align: center;
    flex: 10;
}