#dev{
    color: black;
    display: flex;
    flex-direction: column;
    >button{
        color: black;
        border: 0px;
    }
    >button:hover{
        background-color: cadetblue;
    }
    >*{
        flex: 1;
    }
}
#tabs{
    overflow-y: scroll;
    >*{
        height: 350px;
    }
}