.progress {
    display: flex;
    flex-direction: row;
    border: 0px;
    height: 60px;
    border: 0.5px #4261e9 solid;
}
.thumbnail {
    height: 100%;
    flex: 1;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.progress_main {
    height: 100%;
    flex: 3;
    background-color: transparent;
    flex-direction: column;
    display: flex;
}
.progress_data {
    align-items: center;
    flex: 5;
    display: flex;
    flex-direction: row;
}
.percent {
    flex: 1;
}
.title {
    flex: 2;
    width: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.progressbar {
    flex: 1;
    width: 100%;
    background-color: #fff;
}
.progressbar::-webkit-progress-bar{
    background-color: rgb(80, 80, 80);
}
.progressbar::-webkit-progress-value{
    background-color: rgb(11, 125, 28);
}